{% extends "layout.html" %}

{% block title %}
    about
{% endblock %}

{% block main %}

<field>
<h2>
    How to play
</h2>
<p>Welcome to Triviamasters! Here's a short guide on how to play.</p>
    <h3><u>Singleplayer mode</u></h3>
    <p>
        Play a quick game of Trivia to test your knowlegde!
    </p>
    <h3><u>Multiplayer with a code</u></h3>
    <p>
        Play multiplayer without an account. Start a game and select the number of questions you want to play. Then send the unique code to your opponent.
        After they.ve filled in the code on their side, the game is a go!
    </p>
    <h3><u>Personal homepage</u></h3>
    <p>
        In order to keep track of your scores and see yourself on a virtual leaderboard, you will have to register and login. Once on your personal homepage, you
        can see your current games, view the leaderboard tab and keep track of your friends.
    </p>
    <h3><u>Multiplayer with a friend</u></h3>
    <p>
        Invite your friends to a game of trivia, play four rounds of each ten questions to find out who's the true Triviamaster! After each round, you will be sent
        back to the homepage, which means you can pause the game in between rounds. Once the game is finished, it will be displayed under your previous games and
        your win (or loss) will be displayed on the friends page, just so you can gloat about defeating your friends.
    </p>
    <h3><u>Answer streaks</u></h3>
    <p>
        If you three consecutive questions correct, your will get two points per question instead of one. The streak ends when you incorrectly answer a question.
    </p>
</field>
{% endblock %}