{% extends "layout.html" %}

{% block title %}
    about
{% endblock %}

{% block main %}
<h2>
    How to play
</h2>
<field>
<p>Welcome to Triviamasters! Here's a short guide on how to play.</p>
    <bolder>Singleplayer mode</bolder>
    <p>
        Play a quick game of Trivia to test your knowlegde!
    </p>
    <b>Multiplayer mode</b>
    <p>
        Play multiplayer without an account. Start a game and send the unique code to your opponent. After they've filled in the code, the game is a go!
    </p>
    <b></b>
</field>
{% endblock %}