{% extends "layout.html" %}

{% block title %}
    Friends
{% endblock %}

{% block main %}
    <script>
        function validateFormadd() {
          var friend = document.forms["myFormaddfriend"]["addusername"].value;
          if (friend == "") {
            alert("Name must be filled out");
            return false;
          }
          else {
              var check = false;
              jQuery.get({
                url: "/checkfriend",
                data: { "friend": friend },
                success:
                    function(data){
                        check=data;
                    },
                async: false,
                dataType: "json"
               });
               if (check == true){
                  alert("Friend does not exist or is already your friend");
                  return false;
               }
          }
        }
    </script>
    <field>
        <h3>Add friend</h3>
        <form name="myFormaddfriend" onsubmit="return validateFormadd()" action="/addfriend" method="post">
            <div class="form-start">
                <input autocomplete="off" autofocus class="form-start" name="addusername" placeholder="Username" type="text">
            </div>
            <button class="btn btn-primary" class= "form-start" name="addfriend" type="submit">Add</button>
        </form>
        <h3>Get rid of friend</h3>
        <form action="/delfriend" method="post">
            <div class="form-start">
                <input autocomplete="off" autofocus class="form-start" name="delusername" placeholder="Username" type="text">
            </div>
            <button class="btn btn-primary" class= "form-start" name="delfriend" type="submit">Cya</button>
        </form>
    </field>
    <field>
        <table style="width:100%" action="/friends" method="get">
          <tr>
            <th>Name</th>
            <th>Games played</th>
            <th>Games won</th>
            <th>Games lost</th>
          </tr>
            {% for info in portfolio_contents %}
              <tr>
                <td>{{ info.friend }}</td>
                <td>{{ info.games }}</td>
                <td>{{ info.won }}</td>
                <td>{{ info.lose }}</td>
              </tr>
            {% endfor %}
        </table>
    </field>
{% endblock %}