{% extends "layout.html" %}

{% block title %}
    Game
{% endblock %}

{% block main %}
     <field>
          <h2 id= "category"> Category: {{categ}}</h2>
          <H2 class = "question" style="font-weight:bold;"> Question: {{question | safe}}</H2>
          <form action="/game" method="post">
          <div>
          {%for option in answerlist%}
          <button id= "quesbutton" class="btn default" name="answer" type="submit" value="{{ option}}">{{option | safe}}</button>
          {%endfor%}
          </div>
          </form>
     </field>
     <score>Score: {{ session["score"]}}</score>
{% endblock %}