{% extends "layout.html" %}

{% block title %}
    Start
{% endblock %}

{% block main %}
    <field>
        <h3>Singleplayer Mode</h3>
        <form action="/game" method="get">
            <button class="btn btn-primary" class= "form-game" type="submit">Spelen</button>
        </form>
        <h3>Eenmalig spel aanmaken</h3>
        <form action="/" method="post">
            <div class="form-start">
                <input autocomplete="off" autofocus class="form-start" name="username" placeholder="Username" type="text">
            </div>
            <button class="btn btn-primary" class= "form-start" type="submit">Start spel</button>
        </form>
        <h3>Spel joinen</h3>
        <form action="/join" method="post">
            <div class="form-join">
                <input autocomplete="off" autofocus class="form-join" name="opponent" placeholder="Opponent" type="text">
            <div class="form-join">
                <input class="form-join" name="number" placeholder="Code" type="text">
            </div>
            <button class="btn btn-primary" class= "form-join" type="submit">Join spel</button>
        </form>
    </field>
{% endblock %}
