{% extends "layout.html" %}

{% block title %}
    Start
{% endblock %}

{% block main %}
    <form action="/start" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="username2" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="number" placeholder="Code" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Start spel</button>
    </form>
{% endblock %}
