{% extends "layout.html" %}

{% block title %}
    Start
{% endblock %}

{% block main %}
    <script>
        function validateForm() {
          var username = document.forms["myFormgamewcode"]["username"].value;
          var q_amount = document.forms["myFormgamewcode"]["q_amount"].value;
          if (username == "") {
            alert("Name must be filled out");
            return false;
          }
        }
    </script>
    <link rel="preload" as="image" href="background.jpg">
    <field>
        <h3>Singleplayer mode</h3>
        <form action="/game" method="get">
            <button class="btn btn-primary" class= "form-game" type="submit">Play</button>
        </form>
    </field>
    <field>
        <h3>Start multiplayer game</h3>
        <form name="myFormgamewcode" onsubmit="return validateForm()" action="/" method="post">
            <div class="form-start">
                <input autocomplete="off" autofocus class="form-start" name="username" placeholder="Name" type="text">
                <input autocomplete="off" autofocus class="form-start" name="q_amount" placeholder="Number of questions = 10" type="number" min="1" max="100">
            </div>
            <button class="btn btn-primary" class= "form-start" type="submit">Start game</button>
        </form>
        <h3>Join game</h3>
        <form action="/join" method="post">
            <div class="form-join">
                <input autocomplete="off" autofocus class="form-join" name="opponent" placeholder="Name" type="text">
            <div class="form-join">
                <input class="form-join" name="number" placeholder="Code" type="text">
            </div>
            <button class="btn btn-primary" class= "form-join" type="submit">Join game</button>
        </form>

        <h3>New here?</h3>
        <form action="/about" method="post">
            <button class="btn btn-primary" type="submit">How to play</button>
        </form>
    </field>


{% endblock %}
