{% extends "layout.html" %}

{% block title %}
    leaderbords
{% endblock %}

{% block main %}
<!-- bootstrap: https://getbootstrap.com/docs/4.4/content/tables/  -->
<h4> Ranking</h4>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">Highscore</th>
    </tr>
  </thead>
  <tbody>
    {% for score in hscores %}
    <tr>
      <th scope="row">1</th>
      <td>{{ score.username}}</td>
      <td>{{ score.highscore}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}