{% extends "layout.html" %}

{% block title %}
    userpage
{% endblock %}

{% block main %}
<div>
<h2>Your current games</h2>
</div>
    </field>
    <field>
        <table style="width:100%" action="/friends" method="get">
          <tr>
            <th>Opponent</th>
            <th>Round</th>
            <th>Your Score</th>
            <th>Opponent's Score</th>
            <th>Play</th>
            <th>Delete Game</th>
          </tr>
            {% for data in spell %}
              <tr>
                <td>{{data.opponent}}</td>
                 <td>{{data.ronde}}</td>
                  <td>{{data.score_1}}</td>
                   <td>{{data.score_2}}</td>
                <td>
                    <form action="/spel" method="get">
                    <button class="btn default" name="id" value="{{data.spelid}}" type="submit">Play</button>
                    </form>
                </td>
                <td>
                    <form action="/rspel" method="post">
                    <button class="btn default" name="answer" type="submit">Delete</button>
                    </form>
                </td>
              </tr>
            {% endfor %}
        </table>
    </field>
{% endblock %}

