{% extends "layout.html" %}

{% block title %}
    userpage
{% endblock %}

{% block main %}
<div>
<h2>Your current games</h2>
</div>
    </field>
    <field>
        <table style="width:100%" action="/friends" method="get">
          <tr>
            <th>Opponent</th>
            <th>Round</th>
            <th>Your Score</th>
            <th>Opponent's Score</th>
            <th>Play</th>
            <th>Delete Game</th>
          </tr>
            {% for data in row %}
              <tr>
                <td>{{data[0]}}</td>
                 <td>{{data[1]}}</td>
                  <td>{{data[2]}}</td>
                   <td>{{data[3]}}</td>
                <td>
                    <form action="/doorverwijs" method="post">
                    <button class="btn default" name="id" value="{{data[4]}}" type="submit">Play</button>
                    </form>
                </td>
                <td>
                    <form action="/rspel" method="post">
                    <button class="btn default" name="answer" type="submit">Delete</button>
                    </form>
                </td>
              </tr>
            {% endfor %}
        </table>
    </field>
    <field>
        <h2> Your ended games</h2>
        <table style="width:100%" action="/friends" method="get">
          <tr>
            <th>Opponent</th>
            <th>Your Score</th>
            <th>Opponent's Score</th>
          </tr>
            {% for data in ended %}
              <tr>
                <td>{{ended[0]}}</td>
                 <td>{{ended[2]}}</td>
                  <td>{{ended[2]}}</td>
          </tr>
        {%endfor %}
        </table>

    </field>
{% endblock %}

